* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
	color: #fff;
	font-size: 18px;
}
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: url(img/bg2.gif) no-repeat;
    background-size: cover;
    min-width: 1200px;
    min-height: 700px;
    overflow: hidden;
    position: relative;
}
.background-wrap {
    width: 1200px;
    height: 700px;
    perspective: 1000px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.background-wrap .road {
    display: flex;
    width: 16%;
    height: 220%;
    background: rgba(0, 0, 0, .6);
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(69deg);
    border: 1px solid #85ebff;
    box-shadow: 0 0 6px #9fff45;
}
.background-wrap .road .row {
    position: relative;
    flex: 1;
    overflow: hidden;
}
.background-wrap .line-top {
    width: 20%;
    height: 6px;
    background: linear-gradient(to right, transparent, #affff6, transparent);
    box-shadow: 0 0 12px #7d74ff;
    position: absolute;
    top: 8.8%;
    left: 50%;
    transform: translateX(-50%);
}
.background-wrap .line-bottom {
    width: 200%;
    border: 2px solid #aaf4ff;
    box-shadow: 0 0 12px #7d74ff;
    position: absolute;
    top: 83.8%;
    left: 50%;
    transform: translateX(-50%);
}
.background-wrap .screen-wrap {
    width: 56.9%;
    height: 100px;
    display: flex;
    position: absolute;
    top: 76.5%;
    left: 50%;
    transform: translateX(-50%) rotateX(69deg);
    z-index: 999;
}
.background-wrap .screen-wrap .screen {
    flex: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30%;
    background-color: #befffa;
    border-radius: 50%;
    transition: .3s;
}
.background-wrap .screen-wrap .screen:nth-child(1) {
    left: 9%;
}
.background-wrap .screen-wrap .screen:nth-child(2) {
    left: 34%;
}
.background-wrap .screen-wrap .screen:nth-child(3) {
    left: 59%;
}
.background-wrap .screen-wrap .screen:nth-child(4) {
    left: 84%;
}
.screen-wrap .screen .screen-outline {
    content: '';
    width: 60px;
    height: 60px; 
    position: absolute;
    top: -16%;
    left: -16%;
    border: 3px solid #a7ff78;
    border-radius: 50%;
    box-shadow: 0 0 6px #4aabff,
                0 0 12px #7d74ff inset;
}
.background-wrap .screen-wrap .screen.is-touch::after {
    width: 65px;
    height: 65px;
    top: -21%;
    left: -21%;
}
.road .row .tap {
    width: 60%;
    height: 80px;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
	background: url(img/cube.png) no-repeat;
	background-size: 100% 100%;
    /* background: #00ffff; */
}
.score-wrap {
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    top: 8%;
    left: 10%;
    background-color: rgba(172, 255, 253, 0.7);
    border-radius: 12px;
    box-shadow: 0 0 12px #fff;
}
.score-wrap span {
    color: #fff;
    font-size: 20px;
    margin-right: 12px;
}
.start {
    width: 220px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    /* background: linear-gradient(45deg, #7d74ffd8, #6d65e0da, #887fffb4); */
	background: linear-gradient(45deg, #e2f0e5, rgba(172, 255, 253, 0.7), rgba(172, 255, 253, 0.7));
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}
.start span {
    color: #fff;
    font-size: 18px;
}
.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 65px;
}
.endtime-wrap {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 10%;
    background-color: rgba(172, 255, 253, 0.7);
    border-radius: 12px;
    box-shadow: 0 0 12px #fff;
}
.endtime-wrap span {
    color: #cefff5;
    font-size: 18px;
}
.setting-wrap {
    width: 50px;
    height: 70px;
    position: absolute;
    top: 8%;
    right: 15%;
    /* background-color: rgba(144, 255, 239, 0.6); */
    /* border-radius: 50%; */
    cursor: pointer;
}
.setting-wrap img {
    width: 50px;
    height: 70px;
	/* background: url(img/setting.png) no-repeat;
	background-size: cover; */
}
.giff{
	width: 75px;
	height: 100px;
	position: absolute;
	top: 67%;
	right: 20%;
}
.giff img{
	width: 75px;
	height: 100px;
}
.giff1{
	width: 75px;
	height: 100px;
	position: absolute;
	top: 67%;
	left: 20%;
}
.giff1 img{
	width: 75px;
	height: 100px;
}
.setting-nav {
    visibility: hidden;
    width: 550px;
    height: 300px;
    background-color: rgba(68, 68, 68, 0.8);
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 16px;
    box-shadow: 2px 2px 12px rgba(174, 255, 246, 0.3);
}
.setting-nav::after {
    content: '';
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    border: 3px solid rgba(105, 255, 218, 0.6);
    box-shadow: 0 0 3px rgba(133, 248, 210, 0.6) inset,
                0 0 6px rgba(121, 225, 199, 0.6);
}
.setting-nav .setting-nav-wrap {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}
.setting-nav .setting-time {
    position: relative;
    left: 12%;
    margin-bottom: 85px;
    z-index: 1;
}
.setting-nav .setting-time span {
    color: #746bf3;
    margin: 0 6px;
    font-size: 18px;
    font-weight: 700;
    cursor: default;
}
.setting-nav .setting-time input {
    outline: none;
    border: none;
    width: 10px;
    height: 5px;
    margin: 0 3px;
    padding-left: 2px;
    box-sizing: border-box;
    background: none;
    border-bottom: 2px solid #7d74ff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
	margin: 0;
}
.setting-nav .setting-time .error-msg {
    position: absolute;
    display: none;
    margin-top: 6px;
    color: red;
}
.setting-nav .setting-dificult {
    display: inline-block;
    position: relative;
    left: 12%;
}
.setting-nav .setting-dificult .dificult-select {
    position: relative;
	margin-top: 0rem;
    margin-left: 10px;
}
.setting-dificult .dificult-select span {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
	
    cursor: default;
}
.setting-nav .setting-dificult .dificult {
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 60px;
    text-align: center;
    /* background-color: #7d74ffd8; */
	background-color: rgba(172, 255, 253, 0.7);
    margin: 0px 6px 0 6px;
    border-radius: 12px;
    box-shadow: 0 0 5px #8ee5ff;
    cursor: pointer;
}
.setting-dificult .dificult span {
    color: #ffffff;
    cursor: pointer;
}
.setting-dificult .dificult.select {
    background-color: #6ee4bd;
}
.setting-dificult .dificult.select span {
    color: #f9f9f9;
}
.setting-nav-wrap .setting-save {
    position: absolute;
    bottom: -92%;
    right: 6%;
}
.setting-nav-wrap .setting-save button {
    outline: none;
    border: none;
    width: 100px;
    height: 50px;
	background: linear-gradient(45deg, #e2f0e5, rgba(172, 255, 253, 0.7), rgba(172, 255, 253, 0.7));
    /* background-color: #756ceedc; */
    border-radius: 12px;
    cursor: pointer;
}
.setting-save #save span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.stop-game {
    display: none;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: rgba(104, 232, 185, 0.7);
    border-radius: 50%;
    box-shadow: 0 0 12px #fff;
    position: absolute;
    top: 20%;
    right: 20%;
    cursor: pointer;
}
.stop-game span {
    color: #d9f7ff;
}